.skills{
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
}
#slide{
    border-radius: 100px;
    width: 200px;
    background-image: url("blob.png");
}
.img-box{
    background-image: url("blob.png");
    background-repeat: no-repeat;
}
#service{
    margin-top: 30px;
    font-size: 40px;
    text-align: center;  
}
#about{
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
}